<p id="notice"><%= notice %></p>

<h1>Acticles</h1>
<div class="row">
  <div class="col-sm-8">
    <%= render @acticles %>
  </div>
</div>

<%= link_to 'New Acticle', new_acticle_path, class: "btn btn-primary" %>
